@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body {
  text-align: center;
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.faq-section {
  text-align: left;
  max-width: 800px;
  margin: 50px;
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 15px;
  border-left: 2px solid;
}

.faq-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  padding: 20px;
  grid-template-rows: auto;
}

.faq-card img {
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 10px solid #396e94;
}

.faq-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.faq-section p {
  padding-right: 15px;
  border-left: 2px solid;
}
img {
  max-width: 100%;
}

h2 {
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

/* stylelint-disable-next-line selector-id-pattern */
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  max-height: 100%;
  padding-left: 20px;
}

h4 {
  color: #333;
}

/* ---------- Header ---------- */

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: rgb(20 30 13 / 70%);
  height: 200px;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #19327e;
  text-decoration: none;
  text-align: center;
  padding: 35px;
  margin: 0 10px;
}

nav a:hover {
  background-color: black;
  color: #a3aed9;
}

/* ---------- Hero ---------- */
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: -150px;
}

.home-title {
  color: rgb(175 227 191);
  font-family: "Rock Salt", "Bradley Hand", sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

#hero-img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 00px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  color: rgb(81, 86, 183);
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

.button-box {
  text-align: center;
}

.book,
.join {
  padding: 15px 30px;
  background-color: #396e94;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
}

/* ---------- Cards ---------- */

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

.card-img {
  border: 10px solid #2c292f;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
  width: 100%;
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

main section img {
  box-sizing: border-box;
}

.book:hover,
.join:hover {
  background-color: rgb(97 144 128);
  color: #6d6890;
}

#background {
  margin: 200px 0;
  height: 725px;
  background-color: #7ab6e0;
  grid-column: 1/11;
  grid-row: 4/9;
}

.mountains {
  text-align: left;
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg {
  padding: 35px;
  background-color: rgb(74 136 218);
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
  color: white;
  font-size: 2em;
}

.msg p {
  /* padding-bottom: 15px; */
  font-size: 1.4em;
  font-family: "Rock Salt", "Times New Roman", serif;
  color: white;
}

/*  -------- Footer ---------- */

footer {
  padding: 25px 50px;
  margin-top: 50px;
  color: rgb(48 43 63);
  background-color: rgb(185 182 195);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: honeydew;
  text-decoration: none;
}

footer .social img {
  padding-top: 15px;
}

footer p {
  color: honeydew;
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

.bottom-textbox {
  background-color: #e3f2fd;
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bottom-textbox p {
  font-size: 1.5em;
  font-weight: 500;
  color: #333;

  margin: 0;
  line-height: 1.6;
}

/*  -------- helpers ---------- */

.icon {
  padding-top: 10px;
  width: 80px;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }

  nav,
  footer {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  #hero {
    margin-top: 0;
  }

  #hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
  }

  #hero-msg h4 {
    display: none;
    margin-top: 1000px;
  }

  #hero-msg h1 {
    color: #6f7364;
  }

  .home-title {
    font-size: 25px;
  }

  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }

  #background {
    display: none;
  }

  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  footer {
    margin-top: 25px;
  }
}

body {
  /* Center the form on the page */
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

p + p {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999999;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: black;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
