body {
    margin: 0; text-align: center;
    background-color: #fcfbfb;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h4 {
    color: #333333;
}

/* ---------- Header ---------- */

header {
    background-color: rgba(20, 30, 13, .7);
}

nav {
    text-align: center;
}

nav a {
    color: #fcfbfb;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

/* ---------- Hero ---------- */

#hero-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.book,
.join {
    background-color: #396E94;
    color: white;
}


.book,
.join {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
}

.book:hover,
.join:hover {
    background-color: rgb(97, 144, 128);
    color: #d9c2a3;
}

#background {
    height: 725px;
    background-color: #7ab6e0;
}

.msg {
    background-color: rgba(57, 110, 148, .7);
}

.home-title {
    color: darkblue;
}

.msg h2 {
    color: white;
}

.msg p {
   background-color: beige;
}

/*  -------- Footer ---------- */

footer {
    color: rgb(48, 43, 63);
    background-color: rgb(185, 182, 195);
}

footer a {
    color: honeydew; background-color: rgb(139, 165, 244);
}

footer a:hover {
    background-color: rgb(103, 88, 131);
    text-decoration: underline;
}

footer p {
    background-color: rgb(59, 59, 138);
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.icon{width: 80px;
}